section {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  background: linear-gradient(
      to bottom,
      rgba(13, 17, 40, 0.4),
      rgba(13, 17, 40, 0.7)
    ),
    url("../img/Universidad2.jpg") fixed no-repeat;
  background-size: cover;
}
.layout-songhistory {
  gap: 1rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 15rem;
}
